<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IAlbumService" messageEncoding="Mtom" />
                <binding name="WSHttpBinding_IUserService" messageEncoding="Mtom" />
                <binding name="WSHttpBinding_IImageService" messageEncoding="Mtom" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:49250/AlbumService.svc" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_IAlbumService" contract="Album_Service.IAlbumService"
                name="WSHttpBinding_IAlbumService">
                <identity>
                    <userPrincipalName value="YXXX\user" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:49250/UserService.svc" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_IUserService" contract="User_Service.IUserService"
                name="WSHttpBinding_IUserService">
                <identity>
                    <userPrincipalName value="YXXX\user" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:49250/ImageService.svc" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_IImageService" contract="Image_Service.IImageService"
                name="WSHttpBinding_IImageService">
                <identity>
                    <userPrincipalName value="YXXX\user" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>