<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
    <services>
      <service behaviorConfiguration="PicasaRestService.ImageServiceBehavior" name="PicasaRestService.ImageService">
        <endpoint address="" binding="webHttpBinding" contract="PicasaRestService.IImageService" behaviorConfiguration="web">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
      </service>
      <service behaviorConfiguration="PicasaRestService.UserServiceBehavior" name="PicasaRestService.UserService">
        <endpoint address="" binding="webHttpBinding" contract="PicasaRestService.IUserService" behaviorConfiguration="web">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
      </service>
      <service behaviorConfiguration="PicasaRestService.AlbumServiceBehavior" name="PicasaRestService.AlbumService">
        <endpoint address="" binding="webHttpBinding" contract="PicasaRestService.IAlbumService" behaviorConfiguration="web">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="web">
          <webHttp />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="PicasaRestService.ImageServiceBehavior">
          <serviceDebug httpHelpPageEnabled="false" />
          <serviceMetadata httpGetEnabled="false" />
        </behavior>
        <behavior name="PicasaRestService.UserServiceBehavior">
          <serviceDebug httpHelpPageEnabled="false" />
          <serviceMetadata httpGetEnabled="false" />
        </behavior>
        <behavior name="PicasaRestService.AlbumServiceBehavior">
          <serviceDebug httpHelpPageEnabled="false" />
          <serviceMetadata httpGetEnabled="false" />
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <system.web>
    <compilation debug="true"/>
  </system.web>
</configuration>