<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IImageService" maxReceivedMessageSize="10485760"
          messageEncoding="Mtom">
          <security mode="None" />
        </binding>
        <binding name="WSHttpBinding_IUserService" messageEncoding="Mtom">
          <security mode="None" />
        </binding>
        <binding name="WSHttpBinding_IAlbumService" messageEncoding="Mtom">
          <security mode="None" />
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://asap-pics.com/webservices/AlbumService.svc"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IAlbumService"
        contract="Album_Service.IAlbumService" name="WSHttpBinding_IAlbumService">
        <identity>
          <userPrincipalName value="VMHEB49251\IWPD_32(zasappic119)" />
        </identity>
      </endpoint>
      <endpoint address="http://asap-pics.com/webservices/UserService.svc"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IUserService"
        contract="User_Service.IUserService" name="WSHttpBinding_IUserService">
        <identity>
          <userPrincipalName value="VMHEB49251\IWPD_32(zasappic119)" />
        </identity>
      </endpoint>
      <endpoint address="http://asap-pics.com/webservices/ImageService.svc"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IImageService"
        contract="Image_Service.IImageService" name="WSHttpBinding_IImageService" />
    </client>
  </system.serviceModel>
</configuration>